.content {
	max-width: 600px;
	background: rgba(33, 150, 243, 0.1);
	margin: 0 auto;
	padding: 20px;
	font-family: 'Roboto';
}

.text-center {
	text-align: center;
}

img {
	display: inline-block;
	max-width: 100%;
}

hr {
	border-color: #fff;
}
.mb-0 {
	margin-bottom: 0;
}
