
.tree_mcq  a{
	cursor:pointer;
}
.tree_mcq  ul {
    list-style: none outside none;
}
.tree_mcq li a {
    line-height: 25px;
}
.tree_mcq  > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
.tree_mcq  li.parent > a {
    padding: 0 0 0 28px;
}
.tree_mcq  li.parent > a:before {
    background-image: url("../images/plus_minus_icons.png");
    background-position: 25px center;
     content: ""; 
    display: block;
    height: 21px;
    left: 0;
    position: absolute;
    top: 2px;
    vertical-align: middle;
    width: 23px;
}
.tree_mcq  ul li.active > a:before {
    background-position: 0 center;
}
.tree_mcq  ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.tree_mcq  ul li ul li {
    position: relative;
}
.tree_mcq  ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}


.tree_sba  a{
	cursor:pointer;
}
.tree_sba ul {
    list-style: none outside none;
}
.tree_sba li a {
    line-height: 25px;
}
 .tree_sba > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
.tree_sba li.parent > a {
    padding: 0 0 0 28px;
}
.tree_sba li.parent > a:before {
    background-image: url("../images/plus_minus_icons.png");
    background-position: 25px center;
     content: ""; 
    display: block;
    height: 21px;
    left: 0;
    position: absolute;
    top: 2px;
    vertical-align: middle;
    width: 23px;
}
 .tree_sba ul li.active > a:before {
    background-position: 0 center;
}
.tree_sba ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
 .tree_sba ul li ul li {
    position: relative;
}
 .tree_sba ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}